<div class="row justify-content-center">
<div class="col-6 article-content">
  <span>記事編集</span>

  <%= render 'form', article: @article %>

  <div class="field">
    <%= link_to '戻る', 'javascript:history.back()' %>
  </div>
</div>
</div>
