<div class="row justify-content-center">
  <div class="col-auto article-content">
    <span>新規記事</span>
    <%= render 'form', article: @article %>

    <div class="text-center">
	  <%= link_to '戻る', 'javascript:history.back()' %>
    </div>
  </div>
</div>
