<div class="row justify-content-center">
<div class="col-auto article-content">
  <span>新規記事</span>

  <%= render 'form', article: @article %>

  <div class="field">
	<%= link_to '記事一覧を見る', articles_path %>
  </div>

</div>
</div>
