<div class="headline">
  <h1 class="text-center headline1">
  	<em>Introduction</em>
  </h1>
</div>

<div class="about-text">
  <p>
    休校中、あの子も<br />
    同じように悩んでいるかもしれない ––
  </p>
  <p>
  	「もし、この問題の解法を知っている人がいたら、教えてもらいたい」<br />
  	「自分が苦心して編み出した暗記法を、誰かに役立てて欲しい」
  </p>
  <p>
  	Yatter(ヤッター)とは、あなたが普段の勉強で感じたことをみんなと共有するアプリケーションです。<br />
  	勉強に関する知識やテクニック、メモを閲覧することができます。
  </p>
  <p>
  	メンバー登録をすると、カテゴリ別に記事を投稿することができ、みんなの記事にコメントや いいね をすることができます。
  </p>
  <p>
  	「この証明問題、答えを見ても理解できないんだよね」<br />
  	「学校が休みだとやる気が出ない・・・でもなんとかしたい」
  </p>
  <p>
  	そんなとき、自分ひとりでもYatterを開けば、仲間が見つかります。
  </p>
  <p>
  	自学自習をテーマに、Yatterは頑張るあなたを応援します。
  </p>
</div>

<div class="about-visual"></div>
