/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	height: 70px
}

.logo {
	font-size: 40px;
	font-family: 'Nothing You Could Do', cursive
}

ul li {
	margin-left: 20px
}

.no-underline {
	text-decoration:none !important
}

footer {
	margin-top: 50px;
    width: 100%;
    height: 30px
}

.field {
	margin: 10px;
}

#error_explanation h2 {
	color: red;
}

.error_message li {
	color: red;
}

.devise-main {
	padding-top: 50px;
	display: flex;
    justify-content: center
}

.devise-content {
	width: 500px;
	padding-left: 70px
}

.action {
	margin-bottom: 10px
}

h2 span {
	background: linear-gradient(transparent 70%, #c6e0d5 70%)
}
