// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof {
	padding-top: 50px
}

.prof-underline {
	background: linear-gradient(transparent 70%, #e4ab5a 70%)
}

.confirm-content {
	padding: 100px
}

.member-underline span {
	font-size: 30px;
	background: linear-gradient(transparent 70%, #e4ab5a 70%)
}

.member-main {
    display: flex;
    justify-content: center
}

.member-content {
	padding: 20px;
	max-width: 700px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap
}

.member-content > div {
    box-shadow: 2px 2px 4px;
	border: thin solid #e4ab5a;
	flex-basis:200px;
	height: 260px;
	margin: 10px;
	position: relative
}

.btn {
	width: 200px
}

.btn-unfollow {
	border: thin solid #e4ab5a !important;
	color: #e4ab5a !important
}

.btn-follow {
	background-color: #e4ab5a !important;
	color: #fff !important
}
