// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prof {
	padding-top: 50px
}

.prof-underline {
	background: linear-gradient(transparent 70%, #e4ab5a 70%)
}

.confirm-content {
	padding: 100px
}

.member-content span {
	font-size: 30px;
	background: linear-gradient(transparent 70%, #e4ab5a 70%)
}

.content > div {
	border: thin solid #e4ab5a;
}
