<div class="row justify-content-center">
  <div class="col-8">
    <p class="member-underline">
      <span>メンバー一覧(全<%= @members_all.count %>件)</span>
    </p>
    <%= render 'index', members: @members %>
    <%= paginate @members %>

    <div class="text-center">
      <%= link_to '戻る', 'javascript:history.back()' %>
    </div>
  </div>
</div>
